<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="mainContainer">

   
    <div class="upperContainer">
        <div class="heading">
            <h1 class="todoText">TO DO</h1>
            <p class="remindEverthingText">Reminds Everything</p>
        </div>
    </div>
    <div class="lowerContainer">
        <div class="register container">
            <a href="/register">Register</a>
        </div>
        <div class="login container">
            <a href="/register">Login</a>
        </div>
    </div>
</div>
</body>
</html>